@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

main {
    width: 80%;
    margin: 2em auto 0 auto;
}

.main-text-logo {
    font-family: 'Pacifico', cursive;
}

.shorty-btn {
    text-align: center;
}